{% extends('base.html.twig')%}
{% block body %}
    <h1 class="mt-4">Welcome to my App</h1>
    <p class="lead">This is an example of a signup user form splited in 3 steps.</p>
    <a class="btn-lg btn-primary" href="{{ path('signup') }}">Click here to Continue</a>
{% endblock %}