{% extends('base.html.twig') %}
{% block body %}
<div class="panel">
    <h2>Congratulations, you finished signing up </h2>

    <div class="alert alert-success mt-3" role="alert">PaymentDataId <strong>{{ User.getPaymentDataId() }}</strong></div>


    <p>Here is your Data</p>
    <h4>Personal data</h4>
    <p>Name  <strong>{{ User.getName() }}</strong></p>
    <p>LastName <strong>{{ User.getLastName() }}</strong></p>
    <p>Phone <strong>{{ User.getPhone()}}</strong></p>

    <h4>Address</h4>
    <p>Street  <strong>{{ User.getStreet() }}</strong>. N.: <strong>{{ User.getNumber() }}</strong></p>
    <p>Zipcode <strong>{{ User.getZipCode() }}</strong></p>
    <p>City <strong>{{ User.getCity()}}</strong></p>

    <h4>Bank data</h4>
    <p>Account Owner  <strong>{{ User.getAccountOwner() }}</strong></p>
    <p>IBAN <strong>{{ User.getIban() }}</strong></p>





</div>
{% endblock %}