{% extends('base.html.twig') %}
{% block body %}
    <strong>Step 1 of 3</strong>
    <h2>Personal Data</h2>
    <form method="post">
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" aria-describedby="nameHelp" name="name"
                   placeholder="Enter your first name" required>
            <small id="nameHelp" class="form-text text-muted">Insert your first name here please.</small>
        </div>
        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" aria-describedby="lastnameHelp" name="lastname"
                   placeholder="Enter your last name" required>
            <small id="lastnameHelp" class="form-text text-muted">Insert your last name here please.</small>
        </div>
        <div class="form-group">
            <label for="phone">Insert your phone number</label>
            <input type="text" class="form-control" aria-describedby="nameHelp" name="phone"
                   placeholder="Enter your phone" required>
            <small id="nameHelp" class="form-text text-muted">Insert your phone here please.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}