{% extends('base.html.twig')%}
{% block body %}
    <strong>Step 3 of 3</strong>
    <h2>Bank data</h2>
    <form method="post">
        <div class="form-group">
            <label for="accountowner">Account Owner</label>
            <input type="text" class="form-control" aria-describedby="accountOwnerHelp" name="accountowner"
                   placeholder="Enter the account owner name" required>
            <small id="accountOwnerHelp" class="form-text text-muted">Insert account owner name here please.</small>
        </div>
        <div class="form-group">
            <label for="name">IBAN</label>
            <input type="text" class="form-control" aria-describedby="ibanHelp" name="iban"
                   placeholder="Enter your IBAN" required>
            <small id="ibanHelp" class="form-text text-muted">Insert IBAN here please.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}