{% extends('base.html.twig')%}
{% block body %}
    <strong>Step 2 of 3</strong>
    <h2>Address</h2>
    <form method="POST">
        <div class="form-group">
            <label for="street">Street</label>
            <input type="text" class="form-control" aria-describedby="streetHelp" name="street"
                   placeholder="Enter your street name" required>
            <small id="streetHelp" class="form-text text-muted">Insert your street name here please.</small>
        </div>
        <div class="form-group">
            <label for="name">House number</label>
            <input type="text" class="form-control" aria-describedby="houseNumberHelp" name="number"
                   placeholder="Enter your house number" required>
            <small id="houseNumberHelp" class="form-text text-muted">Insert your house number here please.</small>
        </div>
        <div class="form-group">
            <label for="name">ZipCode</label>
            <input type="text" class="form-control" aria-describedby="ZipCodeHelp" name="zipcode"
                   placeholder="Enter your Zipcode" required>
            <small id="ZipCodeHelp" class="form-text text-muted">Insert your zipcode</small>
        </div>
        <div class="form-group">
            <label for="phone">Insert your City name</label>
            <input type="text" class="form-control" aria-describedby="cityHelp" name="city"
                   placeholder="Enter your city name" required>
            <small id="cityHelp" class="form-text text-muted">Insert your city name here please.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}